# Printer Settings - SuperSlicer/PrusaSlicer/Slic3r
# https://klipper.discourse.group/t/x-in-1-out-non-mixing-extruder-config/2387

[extruder_stepper extruder_1]
extruder: 
step_pin = PD13
dir_pin = PD12
enable_pin = !PD14
microsteps: 16
rotation_distance: 8


[extruder_stepper extruder_2]
extruder: 
step_pin = PC6
dir_pin = PD15
enable_pin = !PC7
microsteps: 16
rotation_distance: 8


[extruder_stepper extruder_3]
extruder: 
step_pin = PA8
dir_pin = PC9
enable_pin = !PC10
microsteps: 16
rotation_distance: 8



[gcode_macro T0]
gcode:
    # Deactivate stepper in my_extruder_stepper
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_3 MOTION_QUEUE=
    # Activate stepper in extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder

[gcode_macro T1]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_3 MOTION_QUEUE=
    # Activate stepper in my_extruder_stepper
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=extruder

[gcode_macro T2]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_3 MOTION_QUEUE=
    # Activate stepper in extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_2 MOTION_QUEUE=extruder

[gcode_macro T3]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_2 MOTION_QUEUE=
    # Activate stepper in my_extruder_stepper
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder_3 MOTION_QUEUE=extruder    

[gcode_macro ACTIVATE_EXTRUDER]
description: Replaces built-in macro for a X-in, 1-out extruder configuration SuperSlicer fix
rename_existing: ACTIVATE_EXTRUDER_BASE
gcode:
    {% if 'EXTRUDER' in params %}
      {% set ext = params.EXTRUDER|default(EXTRUDER) %}
      {% if ext == "extruder"%}
        {action_respond_info("Switching to extruder.")}
        T0
      {% elif ext == "extruder_1" %}
        {action_respond_info("Switching to extruder_1.")}
        T1
      {% elif ext == "extruder_2" %}
        {action_respond_info("Switching to extruder_2.")}
        T2
      {% elif ext == "extruder_3" %}
        {action_respond_info("Switching to extruder_3.")}
        T3
      {% else %}
        {action_respond_info("EXTRUDER value being passed.")}
        ACTIVATE_EXTRUDER_BASE EXTRUDER={ext}
      {% endif %}
    {% endif %}

[delayed_gcode activate_default_extruder]
initial_duration: 1
gcode:
    ACTIVATE_EXTRUDER EXTRUDER=extruder        
